__pycache__/
.ipynb_checkpoints/
logs/
taming/
src/
clip/
taming-transformers/
models/bert/

*.ckpt
*.bin
*.pth

events*
taming-transformer*

test.py
test_gpu.py

latent_diffusion.egg-info/
pytorch_model.bin
